@font-face {
  font-family: "Eagle Lake";
  src: url("/fonts/EagleLake-Regular.woff2") format("woff2"),
    url("/fonts/EagleLake-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
